@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root{
    --colorHeader:#000;
    --colorFooter:#440606;
    --fuente:'Roboto', sans-serif;
    --enlaces:#fff;
    --enlaceSobre:#7d1f1f;
}

html{
    overflow-x: hidden;
    overflow-y: scroll;
    max-width: 100%;
    font-family: var(--fuente);
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a{
    text-decoration: none !important;
}

header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--colorHeader);
}

.header-superior{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top:5px;

}

.logo img {
    width: 120px;
}

/* menu */
.container-menu{
    width: 100%;
    height: 70px;
    background-color: var(--colorHeader);
    padding: 0 20px 20px;

}

nav{
    height: 100%;
}

nav > ul{
    height: 100%;
    display: flex;
}

nav ul li{
    height: 100%;
    list-style: none;
    position: relative;
}

nav > ul > li > a{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 14px;
    color: var(--enlaces);
    /* text-transform:capitalize; */
    font-size: 14px;
    transition: all 300ms ease;
}

nav > ul > li > a:hover{
    background-color: var(--enlaceSobre);
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 0px rgba(13, 15, 24, 0.488);

}

#selector{
    transform: scale(1.1);
    background-color: #192162;
}

/* sub menu */
nav ul li ul{
    display: flex;
    width: 200px;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    top:90px;
    left: -5px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    transition: all 300ms ease;
    z-index: 10;
}

nav ul li:hover ul{
    visibility: visible;
    opacity: 1;
    top: 70px;
}

nav ul li ul:before{
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: -12px;
    left: 20px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #fff;

}

nav ul li ul li a{
    display: flex;
    color: #7d1f1f;
    padding: 6px 14px;
    margin-top: 5px;
    font-size: 1.2rem;
    transition: all 300ms ease;

}

nav ul li ul li a:hover{
    background-color: #6f0202;
    color: #fff;
    transform: scale(1.1);
    font-size: 1.1rem;
    padding-left: 30px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);

}

/* titulo novedades */
.title{
    text-align: center;
    font-family: var(--fuente);
    font-size: 3.5rem;
    color: #000;
    font-weight: bold;
    margin-top: 100px;
}

/* slider */
.container__slider{
    display: flex;
    align-items:center;
    justify-content: center;
    margin: auto;
    max-width: 800px;
    padding: 20px 10px;
    height: 400px;
}

input[type=radio] {
    display: none;

}

.container{
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 600px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards{
    width: 100%;
    height: 100%;
    position: relative;
}

.card{
    width: 80%;
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    margin: auto;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -o-object-fit: cover;
    object-fit: cover;
}

#item-2:checked ~ .cards
#selector-1,
#item-1:checked ~ .cards
#selector-3,
#item-3:checked ~ .cards
#selector-2{
    transform: translateX(-40%) scale(0.8);
    opacity: 0.6;
    z-index: 0;
}

#item-3:checked ~ .cards
#selector-1,
#item-1:checked ~ .cards
#selector-2,
#item-2:checked ~ .cards
#selector-3{
    transform: translateX(40%) scale(0.8);
    opacity: 0.6;
    z-index: 0;
}

#item-1:checked ~ .cards
#selector-1,
#item-2:checked ~ .cards
#selector-2,
#item-3:checked ~ .cards
#selector-3{
    transform: translateX(40) scale(1);   
    z-index: 1;
}

/* estilos estandar */
.frontpage__cta-wrapper{
    overflow: hidden;
}

.cta__main{
    width: 100%;
    text-align: center;
}

.frontpage__cta-title{
    font-family: var(--fuente);
    font-size: 1.6rem;
    text-align:left;
    line-height: 1.3;
    font-weight: 700;
}

.frontpage__cta-action{
    display: block;
    margin-top: 30px;
    border-color: #2a3245;
    color: #2a3245;
    visibility: visible;
    border: 2px solid;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-bottom: 1px;
    border-width: 2px;
    line-height: 20px;
    max-width: 300px;
    background-color: transparent;
    text-decoration: none;
    transition: all .4s ease-in-out;  
    margin: 0 auto;  

}

.frontpage__cta-action:hover{
    background-color: #2d5bbd;
    color: #fff;
}

.frontpage__links-wrapper{
    display: block;
    text-align: center;
    margin-bottom: 50px;
}

.frontpage__links-title{
    font-family: var(--fuente);
    font-size: 1.2rem;
    letter-spacing: 0;
    font-weight: 700;
    color: #1c1b1b;
    line-height: 25px;
    margin-bottom: 10px;
    margin-top: 25px !important;
}

.frontpage__links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: stretch;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    flex-wrap: nowrap;
    max-width: 700px;
    margin-bottom: 70px;
}

.links-title{
    font-family: var(--fuente);
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 40px;
    margin-bottom: 20px;
}

.frontpage__links-item{
    text-decoration: none;
}

.frontpage__links-item:hover{
    opacity: 0.8;
}

.frontpage__links-icon{
    margin: 0 auto;
    display: block;
    width: 200px;
    height: 200px;
    font-family: var(--fuente);
    color: #1c1b1b;
    font-size: 50px;
    line-height: 100px;
}

.frontpage__links-title,
.frontpage__links-description{
    display: block;
    text-align: center;
}

.frontpage__links-description{
    color: #414040;
    font-size: 14px;
}

.links__main{
    padding: 0 5%;
}

/* estilos a las listas */
.list__style{
    padding: 0;
    list-style: none;
    margin: 0;
}

.list__style li{
    color: #2d5bbd;
    font-family: var(--fuente);
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 10px;
    line-height: inherit;
}
